profile/Profile[[:space:]]photo.heic filter=lfs diff=lfs merge=lfs -text
profile/Profile[[:space:]]photo.jpg filter=lfs diff=lfs merge=lfs -text
profile/CED_CIUDADANIA.pdf filter=lfs diff=lfs merge=lfs -text
profile/Luis_Gerardo_Manrique_Cardona_-_-2.pdf filter=lfs diff=lfs merge=lfs -text
assets/wallpapers/hacker_emblem.jpg filter=lfs diff=lfs merge=lfs -text
parents/cedulaGerardo.png filter=lfs diff=lfs merge=lfs -text
parents/cedulaRuth.png filter=lfs diff=lfs merge=lfs -text
images/** filter=lfs diff=lfs merge=lfs -text
assets/** filter=lfs diff=lfs merge=lfs -text
static/** filter=lfs diff=lfs merge=lfs -text
learn/english/db/ipa-pronunciation/en_US.txt filter=lfs diff=lfs merge=lfs -text
documents/latex/dist/main.pdf filter=lfs diff=lfs merge=lfs -text
profile/**.pdf filter=lfs diff=lfs merge=lfs -text
