.env*
node_modules
**/.vagrant*
**/__pycache__/**
.DS_Store
nourish/db/*
dist/*
**/.terraform/**
**/*.backup
**/*.hcl
**/*.tfstate
**/*.swp
**/*.lock
dist/*
blog/tech/public/*
resources/*
**/*.raw.yaml
profile/**/*.log
profile/**/*.aux
